// Variables
$mobile_s: 320px;
$mobile_m: 375px;
$mobile_l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop_l: 1440px;

// text-colors
$corporative-red: #F5333F;
$corporative-blue: #011E41;
$corporative-text: #323232;
$form-placeholder: #B1B1B1;
$form-background: #F6F6F6;

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

// general-styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
    min-width: $mobile_m;
}


header{
    min-width: 375px;
    width: 100%;
    height: 100%;
    display: block;

    .carrier{
        display: block;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            min-width: 375px;
            height: 100%;
            min-height: 33px;
            image-rendering: auto;
        }
    }
    .window-bar{
        display: none;  
    }

    .tirilla-footer{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $corporative-red;
        text-align: center;
        align-content: center;
        justify-content: center;

        .aviso-legal{
            min-width: 375px;
            width: 100%;
            min-height: 40px;
            height: 100%;
            font-family: "Montserrat";            
            font-size: 16px;
            line-height: 19.5px;
            color: #FFFFFF;
            align-content: center;

            .hidden-text{
                display: none;
            }
            

            h3{
                font-size: 16px;
                font-weight: 400;
            }

            span{
                font-size: 16px;
                font-weight: 700;
            }

        }
    }
    
    .menu-header{
        width: 100%;
        max-height: 100%;
        display: flex;
        padding:10px;
        padding-top: 0px;
        gap: 5px;
        align-content: center;
        justify-content: center;

        .frame39{
            display: flex;
            flex-direction: column;
            align-self: center;
            
            .frame86{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 18px;

                p{
                    max-width: 156px;
                    font-size: 18px;
                    font-family: "Montserrat";
                    font-weight: 600;
                    line-height: 21.94px;
                    text-align: right;
                }

                button{
                    max-width: 121px;
                    max-height: 40px;
                    padding: 10px;
                    border: 1px solid $corporative-red;
                    gap: 10px;
                    background-color: #FFFFFF;

                    a{
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 21.94px;
                        color: $corporative-red;
                        text-decoration: none;
                    }

                }
            }
        }
    }

    @media (min-width: $laptop){
        .carrier{
            display: none;
        }

        .window-bar{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            max-width: 100%;
            max-height: 43px;
            height: 100%;
            img{
                width: 100%;
            }
        }

        .tirilla-footer .aviso-legal .hidden-text{
            display: block;
        }
        
        .menu-header{
            justify-content: space-around;
            align-items: center;
            max-height: 100%;
            .frame39{
                flex-direction: row;
                gap: 10px;
                justify-content: space-around;

                .frame86 {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    min-width: 681px;
                    justify-content: flex-end;
                    p{
                        max-width: 100%;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 24.38px;
                        text-align: right;
                    }

                    button a{
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 21.94px;
                        color: $corporative-red;
                        text-decoration: none;
                    }
                    
                }   
            }
        }
    }
}

.Main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .rectangle158{
        width: 100%;
        height: 100%;
        margin: 0 auto;

        picture{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        img{
            width: 100%;  
            height: 100%; 
            object-fit: contain; 
            vertical-align: middle;
        }
    }
    @media (min-width: $laptop){
        .rectangle158{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 1900px;
            height: 100%;
            picture{
                width: 100%;
                height: 100%;
                overflow: hidden;
                source{
                    width: 100%;
                    height: 140%;
                    object-fit: contain;
                }
                img{
                    width: 100%;  
                    height: 100%; 
                    object-fit: contain; 
                    vertical-align: middle;
                }
            }

        }
    }

    .rectangle201{
        display: flex;
        background-color: $corporative-blue;
        width: 100%;
        min-height: 720px;
        padding: 20px;
        padding-top: 0px;
        padding-bottom: 47px;
        justify-content: center;

        .frame94{
            width: 100%;
            margin-top: -27px;
            background-color: white;

            .titular{
                padding:10px;
                gap:10px;
                background-color: $corporative-red;

                .frame33{
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    gap:10px;
                    
                    p{
                        font-size: 25px;
                        font-weight: 800;
                        text-transform: uppercase;
                        text-align: center;
                        line-height: 26.48px;
                        color: #FFFFFF;
                    }
                    span{
                        font-size: 24px;
                        font-weight: 600;
                        text-align: center;
                        line-height: 25.42px;
                    }

                }

            }

            .insight{
                padding:14.5px;
                padding-left: 12px;
                padding-right: 7px;
                gap:12px;

                .frame32{
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .element-inisht{
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                    }
                }
            }

            .frame93{
                width: 100%;
                max-height: 100%;
                background-color: #F6F6F6;
                padding: 21.5px 27px;

                form .frame37{
                    h3{
                        font-weight: 600;
                        font-size: 20px;
                        margin-bottom:20px;
                    }

                    .frame36{
                        display: flex;
                        flex-direction: column;
                        //gap:10px;
                        
                        input{
                            width: 100%;
                            padding: 15px 16px;
                            border: 1px solid #ededed;
                            border-radius: 3px;
                            //gap: 10px;
                            &::placeholder{
                                color: $form-placeholder;
                                font-family: "OpenSans";
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 21.79px;
                            }
                        }
                        .policy-checkbox {
                            display: flex;
                            flex-wrap: nowrap;
                            font-family: "OpenSans";
                            font-size: 12px;
                            color: $form-placeholder; 
                        
                            input[type="checkbox"] {
                                margin-right: 6px;
                                width: 30px;
                                height: auto;
                                color: $form-placeholder;
                                
                            }
                        }

                    }

                    button{
                        width: 100%;
                        padding: 15px 16px;
                        background-color: $corporative-red;
                        color: white;
                        font-family: "Montserrat";
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24.38px;
                        border: none;
                        border-radius: 3px;
                        margin-top: 20px;
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }

    }
    @media (min-width: $laptop){
        .rectangle201{
            background-color: transparent;            
            min-height: 50px;
            
            position:relative;
            .frame94{
                display: flex;
                flex-direction: column;
                width: 20%;
                min-width: 20%;
                max-width: 30%;
                height: auto;
                position: absolute;
                right: 20%;
                bottom:50%;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

            }

        }
    }

    .frame96{
        //padding: 40px 32.5px;

        .frame61{
            font-family: "Montserrat";
            font-size: 25px;
            font-weight: 600;
            line-height: 33.1px;
            padding:20px;
            padding-top: 35px;
            padding-bottom:0px;
            text-align: center;
            color: $corporative-blue;

            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: $corporative-red;
                margin-top: 15px;
                margin-bottom: 25px;
            }
        }

        .frame73{
            display: flex;
            flex-direction: column;            
            padding-top: 0px;
           
            .frame70, .frame71, .frame72{
                display: flex;                
                padding: 40px 32.5px;
                
                .frame63{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    img{
                        object-fit: contain;
                        align-self: center;
                        margin-bottom: 20px;
                    }

                    
                    h3{
                        font-family: "Montserrat";
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 24.38px;
                        color: $corporative-blue;
                        text-align: center;
                        margin-bottom: 20px;
                    }

                    p{
                        font-family: "OpenSans";
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27.12px;
                        color: $corporative-text;
                        padding-bottom: 0px;
                    }

                    a{
                        display: block;
                        text-align: center;
                        font-family: "Montserrat";
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 21.94px;
                        color: $corporative-red;
                        padding-top: 10px;
                    }

                }


               
            }
            

        }
    }
    @media (min-width: $laptop){
        .frame96{
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;

            .frame61{
                width:100%;
                display: flex;
                padding: 35px 10px 20px 10px;
                flex-direction: column;
                align-items: center;
                //gap: 15px;
                p{
                    max-width: 50%;
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 52.96px;
                    text-align: center;
                }
                &::after{
                    content: "";
                    display: block;
                    width: 30%;
                    
                }
            }
            .frame73{
                display: flex;
                flex-direction: row;
                max-width: 1200px;
                gap:24px;
                margin-bottom: 56.13px;
            }

        }
    }

    .seo2 {
        display: flex;
        flex-direction: column;
        padding: 8px 20px;
        text-align: center;
    
        .main-container {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h3 {
                font-family: "Montserrat";
                font-size: 20px;
                font-weight: 600;
                line-height: 24.38px;
                color: $corporative-blue;
            }
    
            .frame91 {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px 17px;
                width: 100%;
    
                &::before,
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: $corporative-red;
                    margin: 15px 0; // Espacio antes y después de la línea
                }
    
                img {
                    max-width: 32px;
                    max-height: 32px;
                    width: 100%;
                }
            }
        }
    }
    @media (min-width: $laptop){
        .seo2{
            display: flex;
            width:100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 66.15px;
            
            .main-container{
                max-width: 1200px;
                align-items: center;
                h3{
                    font-size: 30px;
                }
            }
        }
    }

    .frame97{
        display:flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: 100%;
        max-height:100%;
        background-color: $form-background;
        padding: 54.5px 20px;

        .frame76{
            width: 100%;

            picture{
                width: 100%;
                height: 100%;
                overflow: hidden;
                margin-bottom: 36px;
            }
            
            img{
                width: 100%;  
                height: 100%; 
                object-fit: contain; 
                vertical-align: middle;
                margin-bottom: 36px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            }

            .frame75{
                display: flex;
                flex-direction: column;
                gap:20px;

                .frame74{
                    display: flex;
                    flex-direction: column;
                    gap: 11px;
                    h3{
                        font-family: "Montserrat";
                        font-size: 25px;
                        font-weight: 700;
                        line-height: 30.48px;
                        color: $corporative-blue;
                    }

                    p{
                        font-family: "OpenSans";
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 27.24px;
                        color: $corporative-red;
                    }
                }

                p{
                    font-family: "OpenSans";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27.12px;
                    color: $corporative-text;
                };
            }
        }

    }
    @media (min-width: 700px){
        .frame97 .frame76 img{
            margin-bottom: 36px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }
    }

    @media (min-width: $laptop) {
        .frame97 {
            width: 100%;
            display: flex;
    
            .frame76 {
                max-width: 1200px;
                margin: 0 auto;
                height: auto;
                display: flex;
                flex-direction: row;
                gap: 36px;
    
                img {
                    width: 100%;
                    max-width: 100%;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                    
                }
    
                .frame75 {
                    max-width: 576px;
                    gap: 20px;
                    margin: 10px 0px;
                }
            }
        }
    }


    .frame43{
        width: 100%;
        height: 100%;
        padding: 21.5px;
        background-color: $corporative-red;

        .frame42{
            display:flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;

            p{
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                font-weight: 700;
                line-height: 1.22rem;
                text-align: center;
                color: white;
            }

            button{
                background-color: #FFFFFF;
                width: 100%;
                max-width: 133px;
                padding: 10px;
                gap: 10px;
                border: none;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

                a{
                    font-family: "Montserrat", sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.22rem;
                    text-decoration: none;
                    color: black;                    
                }
            }
        }
    }
    @media (min-width: $laptop){
        .frame43 .frame42{
            flex-direction: row;
            justify-content: center;

            p{
                font-size: 25px;
                font-weight: 700;
                line-height: 1.22rem;
                margin-right: 40px;
            }
        }
    }

    .frame92 {
        margin: 27px 10px;
        padding: 10px;
    
        .frame84 {
            display: flex;
            flex-direction: column;
            gap: 50px;
    
            .frame56 {
                font-family: "Montserrat";
                font-size: 20px;
                font-weight: 600;
                line-height: 33.1px;
                padding: 20px;
                padding-bottom: 0px;
                text-align: center;
                color: $corporative-blue;
    
                &::after {
                    content: "";
                    display: block;
                    min-width: 295px;
                    justify-self: center;
                    height: 2px;
                    background-color: $corporative-red;
                    margin-top: 15px;
                    margin-bottom: 0px;
                }
            }
    
            .frame83 {
                width: 100%;
                max-width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                .acordeon {
                    background-color: white;
    
                    label {
                        display: flex;
                        flex-direction: row;
                        padding: 10px 10px 10px 25px;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        border: 1px solid #EDEDED;
                        transition: all 300ms ease;
    
                        p {
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 21.94px;
                        }
    
                        img {
                            width: 32px;
                            height: 32px;
                            transition: transform 300ms ease;
                        }
    
                        &:hover {
                            background-color: #F5333F1A;
                        }
                    }
    
                    .contenido-acordeon {
                        padding: 0px;
                        margin: 0px 20px;
                        max-height: 0px; 
                        overflow: hidden;
                        opacity: 0; 
                        transition: max-height 300ms ease, padding 300ms ease, opacity 300ms ease;
    
                        p {
                            font-family: "OpenSans";
                            font-size: 18px;
                            line-height: 27.12px;
                            color: $corporative-text;
                            max-width: 840px;
                        }
                    }
    
                    input[type="checkbox"]:checked + label + .contenido-acordeon {
                        max-height: max-content; 
                        padding: 15px 0px;
                        opacity: 1;
                    }
    
                    input[type="checkbox"]:checked + label img {
                        transform: rotate(180deg);
                    }
    
                    input[type="checkbox"]:checked + label {
                        border: none;
                    }
    
                    .btn-acordeon {
                        display: none;
                    }
                }
            }
        }
    }
    
    @media (min-width: $laptop) {
        .frame92 {
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;
            padding: 5.5rem 6rem;
    
            .frame84 {
                .frame56 {
                    padding: 0px;
                    height: 2.81rem;
    
                    p {
                        font-size: 25px;
                        font-weight: 600;
                        line-height: 1.22rem;
                    }
    
                    &::after {
                        content: "";
                        display: block;
                        max-width: 470px;
                    }
                }
    
                .frame83 {
                    box-sizing: border-box;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
    
                    .acordeon {
                        label {
                            max-height: 69px;
                            padding: 18.5px 36px 18.5px 51px;

                            p {
                                padding: 0px;
                            }
    
                            img {
                                margin-right: 38px;
                            }
                        }
    
                        .contenido-acordeon {
                            margin: 0 auto;
                            max-width: 840px;
                            justify-content: center;
                            opacity: 0; // Inicialmente oculto
                            transition: max-height 300ms ease, padding 300ms ease, opacity 300ms ease; // Agregar opacity
    
                            // Ajustar el max-height para que se adapte a tu contenido
                            max-height: 0; // Cambiar a un valor específico
                        }
    
                        input[type="checkbox"]:checked + label + .contenido-acordeon {
                            padding: 25px 0px 35px 0px;
                            max-height: 200px; // Ajusta según el contenido
                            opacity: 1; // Mostrar el contenido
                        }
                    }
                }
            }
        }
    }

    .frame85{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: 1200px;
        width: 100%;
        padding: 0;
        margin:0 auto;
        gap: 20px;

        .frame56 {
            font-family: "Montserrat";
            font-size: 20px;
            font-weight: 600;
            line-height: 33.1px;
            padding: 0px 50px;
            padding-bottom: 0px;
            margin-bottom: 20px;
            text-align: center;
            color: $corporative-blue;

            p{
                max-width: 80%;
                justify-self: center;
            }

            &::after {
                content: "";
                display: block;
                min-width: 276px;
                justify-self: center;
                height: 2px;
                background-color: $corporative-red;
                margin-top: 15px;
                margin-bottom: 0px;
            }

        }

        .frame55{
            display: flex;
            flex-direction: column;
            padding: 62px 20px 62px 20px;
            gap: 10px;
            margin-bottom: 13px;
            background-color: #FAFAFA;

            .frame54{
                display: flex;
                flex-direction: column;
                gap: 10px;

                .frame98{
                    p{
                       font-family: "Montserrat";
                       font-size: 18px;
                       font-weight: 600;
                       line-height: 27.12px;
                       color: $corporative-red;
                    }
                    ul{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        list-style: none;

                        img{
                            width: 24px;
                            height: auto;
                        }
                    }
                }

                p{
                    font-family: "OpenSans";
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27.12px;
                    color: $corporative-text;
                }
            }

            .pasador-slider{
                align-self: center;
            }
        }

    }

    @media (min-width: $laptop){
        .frame85{
            display: flex;
            flex-direction: column;
            max-width: 1200px;
            width: 100%;
            margin-bottom: 57.13px;

            .frame56{
                max-width: 100%;
                width: 100%;
                align-self: center;

                p{
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 1.22rem;
                }

                &::after {
                    content: "";
                    display: block;
                    min-width: 470px;
                }
            }

            .frame55{
                width: 100%;
                max-width: 1200px;
                padding: 61px 0px;
                margin-bottom: 31.04px;

                .frame54{
                    max-width: 83%;
                    margin: 0 auto;
                    gap: 10px;
                }

            }
        }
    }

    .frame45{
        width: 100%;
        height: 100%;
        padding: 21.5px;
        background-color: $corporative-red;

        .frame42{
            width: 100%;
            max-width: 100%;
            display:flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;

            .text{
                h3{
                    font-family: "Montserrat";
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 30.48px;
                    gap:0px;
                    color: white;
                }
    
                p{
                    font-size: 25px;
                    font-weight: 400;
                    font-style: italic;
                    line-height: 30.48px;
                    color: white;
                }
            }

            .frame51{
                display: flex;
                flex-direction: column;
                min-width: 251px;
                gap:10px;
                color: white;
                align-items: center;
                margin: auto;

                input{
                    min-width: 251px;
                    min-height: 40px;

                    &::placeholder{
                        font-family: "Montserrat";
                        font-size: 16px;
                        font-style: italic;
                        line-height: 19.5px;
                        font-weight: 400;
                    }
                }

                .policy-checkbox{
                    width:100%;
                }
            }

            button{
                background-color: #FFFFFF;
                width: 100%;
                max-width: 133px;
                padding: 10px;
                gap: 10px;
                border: none;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

                a{
                    font-family: "Montserrat", sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.22rem;
                    text-decoration: none;
                    color: black;                    
                }
            }
        }
    }
    @media (min-width: $laptop){
        .frame45 .frame42{
            flex-direction: row;
            justify-content: center;

            h3{
                font-family: "Montserrat";
                font-size: 25px;
                font-weight: 700;
                line-height: 30.48px;
            }

            p{
                font-size: 25px;
                font-weight: 400;
                font-style: italic;
                line-height: 30.48px;
            }
        }
    }
}